# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Flutter generated plugin registrant
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android generated artifacts
android/app/debug/
android/app/profile/
android/app/release/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Local environment
*.local
.env
.env.*
